//stick-man__haed--small

.messages__container {
  height: 60vh;
}

.messages__current-channel {
  height: 10%;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    margin: 0;
    padding-right: 10px;
  }
}

.messages__content {
  height: 75%;
  overflow-y: scroll;
}

.sending-message {
  height: 10%;
}

.message-form {
  display: flex;
  align-items: center;
}

.message-form__current-user {
  padding-left: 10px;
}

.message-form__input {
  border-radius: 15px 0 0 15px;
  padding-left: 25px;
}

.message__info {
  display: flex;
  justify-content: space-between;
  color: green;
  font-weight: bold;
  height: 20px;
}
