.sending-message {
  height: 10%;
}

.message-form {
  display: flex;
  align-items: center;
}

.message-form__current-user {
  padding-left: 15px;
}

.message-form__input {
  border-radius: 15px 0 0 15px;
  padding-left: 25px;
}
