.title {
  padding-left: 75px;
}

.channels__title {
  border-bottom: 1px solid white;
  padding-bottom: 8px;
}

.channels ul{
  padding-right: 15px;
}

.channels li{
  padding: 10px;
}

.selected:last-child {
  margin-bottom: 25px;
}
