body {
  background-color: #001845;
  overflow: hidden;
}

@import './config/fonts';
@import './config/cards';

.app {
  padding: 75px;
}

.channels {
  padding: 10px;
  height: 100vh;
}

.messages__container {
  border: 1px solid;
  padding: 10px;
  height: 70vh;
}

.message {
  padding: 10px;
}

.message__info {
  display: flex;
  justify-content: space-between;
  color: green;
  font-weight: bold;
}

.messages__content {
  height: 60vh;
  border: 1px solid blue;
  overflow-y: scroll;
}

.message-form {
  display: flex;
  height: 10vh;
  padding: 10px;
}

.channel {
  padding: 10px;
}
