body {
  background-color: #001845;
  overflow: hidden;
}

@import './config/fonts';
@import './config/cards';
@import './components/message_container';
@import './components/buttons';
@import './layout/channel_list';

.app {
  padding: 75px;
}

.channels {
  padding: 10px;
  height: 100vh;
}
