// Raleway 400 500 600
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
//font-family: 'Raleway', sans-serif;

// Quicksand 300 500 600 700
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');
//font-family: 'Quicksand', sans-serif;

// Inter 100 200 300 400
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
//font-family: 'Inter', sans-serif;

body {
  color: white;
}

$h1: 40px;
$h2: 32px;
$h3: 24px;
$h4: 21px;

$quicksand: 'Quicksand', sans-serif;
$inter : 'Inter', sans-serif;

.title{
  font-family: 'Raleway', sans-serif;
  font-size: $h1;
  letter-spacing: 4px;
}

.channels {
  font-family: $quicksand;
}

.channels__title {
  font-size: $h3;
}

.selected {
  font-weight: 700;
}

.channel {
  list-style-type: none;
  font-size: $h4;
}

.messages__current-channel {
  font-family: $quicksand;
  font-size: 24px;
}

.messages__current-channel--online {
  font-size: 14px;
  color: green;
}

.messages__content {
  font-family: $inter;
}

$placeholder: ('::-webkit-input-placeholder', ':-moz-placeholder', '::-moz-placeholder', ':-ms-input-placeholder', '::input-placeholder', '::placeholder');
@each $selector in $placeholder {
  #{$selector} {
    padding-left: 10px;
    :focus {
      opacity: 0;
    }
  }
  // #{$selector}:focus {
  //   opacity: 0;
  // }
}
